.delete-dialog-title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #d32f2f; /* Красный цвет для акцента */
}

.warning-icon {
  color: #d32f2f;
  font-size: 28px;
}

.delete-dialog-content {
  font-size:17px;
  color: #555;
  padding: 8px 0;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}

.cancel-btn {
  border-color: #b0bec5;
  color: #546e7a;
}

.delete-btn {
  background-color: #d32f2f;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

.delete-btn mat-icon {
  font-size: 18px;
}
