<!-- <h1>CREATE USER FORM</h1>
<div style="margin: 30 30px 30px 0px">
  <form
    style="display: flex; flex-direction: column"
    [formGroup]="form"
    (ngSubmit)="submitForm()"
  >
    <p>NAME</p>
    <div
      *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
      class="alert"
    >
      <div *ngIf="form.controls['name'].errors" style="color: red">
        Имя введено неправильно
      </div>
    </div>
    <input type="text" class="form-input" formControlName="name" />
    <p>EMAIL</p>
    <div
      *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
      class="alert"
    >
      <div *ngIf="form.controls['email'].errors" style="color: red">
        Email введен неправильно
      </div>
    </div>
    <input
      type="text"
      class="form-input"
      matInput
      formControlName="email"
      placeholder="ru.pat@example.com"
    />
    <p>WEBSITE</p>
    <div
      *ngIf="form.controls['website'].invalid && (form.controls['website'].dirty || form.controls['website'].touched)"
      class="alert"
    >
      <div *ngIf="form.controls['website'].errors" style="color: red">
        Web-сайт введен неправильно
      </div>
    </div>

    <input
      type="text"
      class="form-input"
      formControlName="website"
      matInput
      placeholder="www.qr@example.com"
      appearance="fill"
    />
    <p>COMPANY NAME</p>
    <div
      *ngIf="form.controls['companyName'].invalid && (form.controls['companyName'].dirty || form.controls['companyName'].touched)"
      class="alert"
    >
      <div *ngIf="form.controls['companyName'].errors" style="color: red">
        Имя компании введена неправильно
      </div>
    </div>
    <input type="text" class="form-input" formControlName="companyName" />
    <button style="width: 200px; margin-top: 20px" [disabled]="!form.valid">
      CREATE USER
    </button>
  </form>
</div> -->
<div style="display: flex">
  <form
    [formGroup]="form"
    class=""
    style="display: flex; flex-direction: column"
  >
    <mat-form-field appearance="fill">
      <mat-label>Name:</mat-label>
      <input #inputElement matInput formControlName="name" />
      <mat-error>No correct</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" #inputElement matInput formControlName="email" />
      <mat-error>No correct</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Web Site</mat-label>
      <input #inputElement matInput formControlName="website" />
      <mat-error>No correct</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Company</mat-label>
      <input #inputElement matInput formControlName="companyName" />
      <mat-error>No correct</mat-error>
    </mat-form-field>
    <button
      [mat-dialog-close]="form.value"
      (click)="submitForm()"
      type="submit"
      class="bg-gray-400 py-1 justify-center"
      [disabled]="form.invalid"
      mat-stroked-button
    >
      Create User
      <mat-icon> add </mat-icon>
    </button>
  </form>
</div>
