
<form [formGroup]="form" class="user-form">
  <mat-card class="form-card">
    <mat-card-title>Редактирование пользователя</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Имя</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="form.get('name')?.invalid">Некорректное имя</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
        <mat-error *ngIf="form.get('email')?.invalid">Некорректный email</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Веб-сайт</mat-label>
        <input matInput formControlName="website" />
        <mat-error *ngIf="form.get('website')?.invalid">Некорректный сайт</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Компания</mat-label>
        <input matInput formControlName="companyName" />
        <mat-error *ngIf="form.get('companyName')?.invalid">Некорректное название</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-stroked-button class="cancel-btn" type="button" (click)="form.reset()">
        Отмена
      </button>
      <button
        mat-flat-button
        color="primary"
        [mat-dialog-close]="form.value"
        type="submit"
        class="submit-btn"
        [disabled]="form.invalid"
        [mat-dialog-close]="userWidthUpdateFields"
      >
        <mat-icon>edit</mat-icon> Редактировать
      </button>
    </mat-card-actions>
  </mat-card>
</form>
