<form [formGroup]="formtodo" class="todo-form">
  <mat-form-field appearance="outline">
    <mat-label>UserID</mat-label>
    <input #inputElement matInput formControlName="userId" />
    <mat-error>No correct</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Автор задачи</mat-label>
    <input #inputElement matInput formControlName="title" />
    <mat-error>No correct</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>ID</mat-label>
    <input #inputElement matInput formControlName="id" />
    <mat-error>No correct</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Задача завершена?</mat-label>
    <input #inputElement matInput formControlName="completed" />
    <mat-error *ngIf="formtodo.get('email')?.invalid">Invalid Email</mat-error>
  </mat-form-field>
  <div class="button-group">
    <button
      [mat-dialog-close]="formtodo.value"
      (click)="submitForm()"
      type="submit"
      class="bg-gray-400 py-1 justify-center"
      [disabled]="formtodo.invalid"
      mat-stroked-button
      color="primary"
    >
      Add Todo
      <mat-icon> add </mat-icon>
    </button>
  </div>
</form>
